@charset "utf-8";

@font-face {
  font-family: 'JeonbukStateSB';
  src: url(font/JeonbukStateSB_OTF.otf) format('truetype');
}

@font-face {
  font-family: 'Gmarket Sans Bold';
  src: url(font/gmarketsans/GmarketSansBold.otf) format('truetype');
}
@font-face {
  font-family: 'Gmarket Sans Medium';
  src: url(font/gmarketsans/GmarketSansMedium.otf) format('truetype');
}
@font-face {
  font-family: 'Gmarket Sans Light';
  src: url(font/gmarketsans/GmarketSansLight.otf) format('truetype');
}


@font-face {
  font-family: 'Noto Sans Kr';
  font-style: normal;
  font-weight: 100;
  src: url(font/notosans_kr/NotoSansKR-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr';
  font-style: normal;
  font-weight: 300;
  src: url(font/notosans_kr/NotoSansKR-Light.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr';
  font-style: normal;
  font-weight: 400;
  src: url(font/notosans_kr/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr';
  font-style: normal;
  font-weight: 500;
  src: url(font/notosans_kr/NotoSansKR-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr';
  font-style: normal;
  font-weight: 700;
  src: url(font/notosans_kr/NotoSansKR-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr';
  font-style: normal;
  font-weight: 900;
  src: url(font/notosans_kr/NotoSansKR-Black.woff) format('woff');
}


@font-face {
  font-family: 'Noto Sans Kr_m';
  font-style: normal;
  font-weight: 100;
  src: url(font/notosans_kr/NotoSansKR-Thin_main.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr_m';
  font-style: normal;
  font-weight: 300;
  src: url(font/notosans_kr/NotoSansKR-Light_main.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr_m';
  font-style: normal;
  font-weight: 400;
  src: url(font/notosans_kr/NotoSansKR-Regular_main.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr_m';
  font-style: normal;
  font-weight: 500;
  src: url(font/notosans_kr/NotoSansKR-Medium_main.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr_m';
  font-style: normal;
  font-weight: 700;
  src: url(font/notosans_kr/NotoSansKR-Bold_main.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Kr_m';
  font-style: normal;
  font-weight: 900;
  src: url(font/notosans_kr/NotoSansKR-Black_main.woff) format('woff');
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 300;
  src: url(font/nanumsquare/NanumSquareL.woff) format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 400;
  src: url(font/nanumsquare/NanumSquareR.woff) format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 700;
  src: url(font/nanumsquare/NanumSquareB.woff) format('woff');
}
@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 800;
  src: url(font/nanumsquare/NanumSquareEB.woff) format('woff');
}
