@charset "utf-8";

#main_visual {
  position: relative;
}
.main_visual_cont {
  position: relative;
}

/* 메인 이미지존 배경 */
#main_visual .main_back {background-color:rgba(0, 0, 0, 0.3); position: absolute; width: 100%; height: 100%; top:50%; left:50%; transform: translate(-50%, -50%); z-index: 2;}
#main_visual .swiper-container.main_visual_cont .swiper-wrapper .swiper-slide img {width: 100%; height: 100%; object-fit: cover;}



/* 메인 이미지존 타이틀 */
#main_visual .main_title {position: absolute; width: 100%; max-width: 1440px; height: auto; padding: 16px; top:36%; left:50%; transform: translate(-50%, -50%); z-index: 3;}
#main_visual .main_title h1 {font-size: 46px; font-weight: 600; color: #fff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);}
#main_visual .main_title h1 span {color: #EE2E5B;}
/* 메인 이미지존 컨트롤 */
#main_visual .main_title .main_controlbox {padding: 4px 12px; margin-top: 8px; border-radius: 16px; display: inline-block; background-color: rgba(0, 0, 0, 0.6); vertical-align:middle;}
#main_visual .main_title .main_controlbox > div {display: flex; justify-content: center; align-items: center; gap: 4px;}
#main_visual .main_title .main_controlbox .swiper-pagination.swiper-pagination-num {height: 100%; color: #fff; width: 54px; display: inline-block; position: static; font-size: 14px;}
#main_visual .main_title .main_controlbox .swiper-controls {display: inline-block}

/* 메인 이미지존 후원현황 */
#main_visual .main_collection {background-color: rgba(255,255,255,0.9); position: absolute; width: 100%; height: auto; bottom:0; left:50%; transform: translate(-50%, 0); z-index: 4;}
#main_visual .main_collection .main_collec_inner { max-width: 1440px; height: 100%; margin: auto;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox {width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; }
#main_visual .main_collection .main_collec_inner .main_collec_innerbox > ul {width: calc(100% / 4); max-width: 300px; padding: 16px;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox ul:nth-child(1) li h3 , #main_visual .main_collection .main_collec_inner .main_collec_innerbox ul:nth-child(2) li h3 {color: #0A72C1;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox ul:nth-child(3) li h3, #main_visual .main_collection .main_collec_inner .main_collec_innerbox ul:nth-child(4) li h3 {color: #012C61;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li {text-align: center; padding: 16px;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li:nth-child(1) {border-bottom: 1px solid #C5CBDD;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li h3 {font-size: 22px; display: flex; justify-content: center; align-items: flex-end;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li h3 span {height: 100%; font-size: 18px; margin-left: 4px;}
#main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li h4 {font-size: 18px;}


#main_visual .main_visual_cont .swiper-slide {
  overflow: hidden;
  width: 90%;
  height: calc(100vh - 120px);
  /* min-height: 500px; */
  background: no-repeat center;
  background-size: cover;
}



#main_visual .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main_visual .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: auto;
  height: 100%;
  min-width: auto; */
  max-width: none;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

/* #main_visual .swiper-slide {
  height: 654px;
  background: no-repeat center;
  background-size: cover;
} */

#main_visual .slide01 {
  background-image: url("/root/main/images/main/main_visual01.jpg");
}
#main_visual .slide02 {
  background-image: url("/root/main/images/main/main_visual02.jpg");
}
#main_visual .slide03 {
  background-image: url("/root/main/images/main/main_visual03.jpg");
}
#main_visual .slide04 {
  background-image: url("/root/main/images/main/main_visual04.jpg");
}
#main_visual .slide05 {
  background-image: url("/root/main/images/main/main_visual05.jpg");
}
#main_visual .slide06 {
  background-image: url("/root/main/images/main/main_visual06.png");
}
#main_visual .slide07 {
  background-image: url("/root/main/images/main/main_visual07.png");
}
#main_visual .slide08 {
  background-image: url("/root/main/images/main/main_visual08.png");
}
#main_visual .slide09 {
  background-image: url("/root/main/images/main/main_visual09.png");
}
#main_visual .slide10 {
  background-image: url("/root/main/images/main/main_visual10.png");
}
#main_visual .slide11 {
  background-image: url("/root/main/images/main/main_visual11.png");
}
#main_visual .slide12 {
  background-image: url("/root/main/images/main/main_visual12.png");
}
#main_visual .txt_t01,
#main_visual .txt_t02 {
  font-family: "JJ WanGak", "맑은 고딕", "돋움", Dotum, "굴림", Gulim, Helvetica,
    serif;
  line-height: 1.2;
}
#main_visual .txt_t01 {
  padding-top: 256px;
  text-align: center;
}
#main_visual .txt_t01 .t01 {
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
#main_visual .txt_t01 .t02 {
  margin-top: 10px;
  font-size: 55px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
#main_visual .txt_t02 {
  max-width: 1260px;
  padding-top: 160px;
  margin: 0 auto;
}
#main_visual .txt_t02 > div {
  padding-left: 60%;
}
#main_visual .txt_t02 .t01 {
  position: relative;
  padding-top: 28px;
  font-size: 25px;
  color: #89877d;
}
#main_visual .txt_t02 .t01:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 1px;
  background: #89877d;
  content: "";
}
#main_visual .txt_t02 .t02 {
  margin-top: 5px;
  font-size: 65px;
  color: #151515;
}

#main_visual .swiper-container > .swiper-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  margin-bottom: 155px;
  text-align: center;
}
#main_visual .swiper-container > .swiper-controls * {
  vertical-align: middle;
}
#main_visual .swiper-pagination-dot {
  position: relative;
  top: -3px;
  display: inline-block;
  height: auto;
  margin: 0 12px;
}
#main_visual .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  margin: 0 8px;
  border: 3px solid #fff;
  border-color: #fff;
  background: #fff;
  opacity: 0.6;
  /* background: none; */
}
#main_visual .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  border-color: #c92026;
  background: #c92026;
  opacity: 1;

}
#main_visual .swiper-button-prev,
#main_visual .swiper-button-next,
#main_visual .swiper-button-play,
#main_visual .swiper-button-pause,
#main_visual .swiper-button-playpause {
  display: inline-block;
  position: relative;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 0;
  /* border-radius: 50%; */
  background: rgba(0, 0, 0, 0) center no-repeat;
  background-size: 7px auto;
  cursor: pointer;
}
#main_visual .swiper-button-prev {
  background-image: url("/root/main/images/main/main_visual_prev.png");
}
#main_visual .swiper-button-next {
  background-image: url("/root/main/images/main/main_visual_next.png");
}
#main_visual .swiper-button-play {
  background-image: url("/root/main/images/main/icon_play.png");
  background-color: rgba(0, 0, 0, 0.0);
  background-size: 6px auto;
}
#main_visual .swiper-button-pause {
  background-image: url("/root/main/images/main/icon_pause.png");
  background-color: rgba(0, 0, 0, 0.0);
  background-size: 7px auto;
}
#main_visual .swiper-button-prev-d,
#main_visual .swiper-button-next-d {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -50px;
  width: 101px;
  height: 101px;
  background: no-repeat center;
  cursor: pointer;
}
#main_visual .swiper-button-prev-d {
  left: 60%;
  margin-left: -755px;
  background-image: url("/root/main/images/main/main_visual_prev02.png");
}
#main_visual .swiper-button-next-d {
  right: 60%;
  margin-right: -755px;
  background-image: url("/root/main/images/main/main_visual_next02.png");
}



/* 메인 팝업존 */
#pop_zone {position: absolute; top: 0; right: 0; width: 359px; z-index: 1;}
#pop_zone .swiper-container {width: 100%; height: 100%;}
#pop_zone img {width: 100%; height: 100%; object-fit: cover; object-position:top;}

#pop_zone .swiper-controls .swiper-button-prev {top: 0px;  background-image: url("/root/main/images/main/pop_zone_prev.png");}
#pop_zone .swiper-controls .swiper-button-next {top: 0px;  background-image: url("/root/main/images/main/pop_zone_next.png");}
#pop_zone .swiper-controls .swiper-button-playpause {top: 0px;  background-image: url("/root/main/images/main/pop_zone_pause.png");}
#pop_zone .swiper-controls .swiper-button-playpause.on {background-image: url("/root/main/images/main/pop_zone_play.png"); background-size: 6px auto; /* background-position: 55% center; */}

.main_pop_zone #pop_zone {
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
  margin-right: -720px;
  width: 450px;
  height: 350px;
  border-radius: 14px; overflow: hidden;
}
.main_pop_zone #pop_zone .pop_zone_control {
  display: flex; justify-content: space-between; align-items: center;
  width: 100%; height: 32px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
.main_pop_zone #pop_zone .pop_zone_control .pop_zone-pagination-num {font-size: 14px; color: #fff; padding: 0px 12px;}
  
.main_pop_zone #pop_zone .pop_zone_control .swiper-controls.main_pop {
  display: flex;
}



#section01 { overflow: hidden;  margin-top: 50px;  margin-bottom: 24px;}
#section01 .inwrap { width:100%; display: flex; flex-direction: row; flex-wrap: nowrap; gap: 24px;}
.main_content_line_box { border: 1px solid #d8d8d8; border-radius: 12px;  overflow: hidden;}
.main_content_line_box .inwrap_title { 
  height: 65px; border-bottom: 1px solid #d8d8d8; padding: 0 20px; overflow:hidden; text-overflow:ellipsis;	white-space:nowrap;
  display: flex; justify-content: space-between; align-items: center;
}
.main_content_line_box .inwrap_title .inwrap_title_left { display: flex; justify-content: flex-start; align-items: center; gap: 16px;}
.main_content_line_box .inwrap_cont { padding: 20px; width: 100%;}

#section01 .inwrap .main_content_activity { flex-grow: 2; max-width: calc((100% / 5) * 2)}
#section01 .inwrap .main_content_tv { flex-grow: 2;}
#section01 .inwrap .main_content_web { flex-grow: 1;}

#section01 .activity_swiper_control { display: flex; gap: 8px;}
#section01 .activity_swiper_control .swiper-button-prev, #section01 .activity_swiper_control .swiper-button-next { background-image: none; padding-right: 2px;}
#section01 .activity_swiper_control .swiper-button-next, #section01 .activity_swiper_control .swiper-button-prev {
  position: static; margin: 0px;  width: 26px; height: 26px; border-radius: 50%; 
  /* background-color: rgba(0, 0, 0, 0.6);  */
  /* border: 1px solid #ddd; */
  background-position: center; background-size: 15px auto;
  display: flex; justify-content: center; align-items: center;
}
#section01 .activity_swiper_control .swiper-button-prev .activity_swiper_bt_left {fill: #acacac;}
#section01 .activity_swiper_control .swiper-button-next .activity_swiper_bt_right {fill: #acacac;}

#section01 .main_content_more_bt { height: 26px; }
#section01 .main_content_more_bt a { display: block; width: 100%; height: 100%;}
#section01 .main_content_more_bt a .more_bt { fill: #acacac;}
#section01 .main_content_more_bt a:hover .more_bt { fill: #0A72C1;}

#section01 .inwrap .inwrap_cont {height: /*calc(100% - 65px)*/250px;}

#section01 .inwrap .main_content_tv {}
#section01 .inwrap .main_content_tv .inwrap_title {}
#section01 .inwrap .main_content_tv .inwrap_cont {width: 100%;}
#section01 .inwrap .main_content_tv .inwrap_cont ul.contain_tv {width: 100%; height: 100%; display: flex; justify-content: space-between; gap: 20px;}
#section01 .inwrap .main_content_tv .inwrap_cont ul.contain_tv .contain_box_tv {width: 100%; height: 100%; background-color: #ddd; border-radius: 12px; overflow: hidden; }
#section01 .inwrap .main_content_tv .inwrap_cont ul.contain_tv .contain_box_tv a {display: block; width: 100%; height: 100%; position: relative;}
#section01 .inwrap .main_content_tv .inwrap_cont ul.contain_tv .contain_box_tv a .tit_contain_tv {width: 100%; position: absolute; bottom: 0; width: 100%; height: 32px; padding: 0px 10px; display: flex; justify-content: flex-start; align-items: center;  background-color: rgba(0, 0, 0, 0.5); margin-top: auto;}
#section01 .inwrap .main_content_tv .inwrap_cont ul.contain_tv .contain_box_tv a .tit_contain_tv .tit_tv {margin-bottom: -2px; font-size: 18px; color: #fff; overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;}


#section01 .inwrap .main_content_web {}
#section01 .inwrap .main_content_web .inwrap_cont {width: 100%;}
#section01 .inwrap .main_content_web .inwrap_cont a {display: block; width: 100%; height: 100%; background-color: #FFAD1E; border-radius: 12px; overflow: hidden; position: relative;}
#section01 .inwrap .main_content_web .inwrap_cont a .tit_contain_web {position: absolute; right: 12px; top: 12px; }
#section01 .inwrap .main_content_web .inwrap_cont a .tit_contain_web .tit_web {text-align: right; }
#section01 .inwrap .main_content_web .inwrap_cont a .tit_contain_web .date_web {text-align: right; font-size: 14px;}


#activity_swiper { position: relative;}
#activity_swiper .cont { height: 38px; padding: 10px 0px; color: #2a2f42; background: #fff;}
#activity_swiper .tit {
  overflow: hidden;
  font-size: 18px;
  /* font-weight: 500; */
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden;
  max-height: 40px;
  margin-top: 9px;
  font-size: 18px;
  line-height: 20px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
}
#activity_swiper .txt {
  overflow: hidden;
  max-height: 40px;
  margin-top: 9px;
  font-size: 10px;
  line-height: 12px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: none;
}
#activity_swiper .date { font-size: 14px; color: #888;}
#activity_swiper .img_wrap {
  position: relative;
  /* padding-bottom: 73%; */
  height: 160px;
  border-radius: 12px;
}
#activity_swiper .img_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
#activity_swiper .swiper-button-prev,
#activity_swiper .swiper-button-next {
  top: -66px;
  width: 71px;
  height: 36px;
  margin: 0;
  background: no-repeat;
}
#activity_swiper .swiper-button-prev {
  left: 0;
  border-right: 1px solid #509cea;
  background: url("/root/main/images/main/icon_swiper_prev.png") no-repeat 10px
    center;
}
#activity_swiper .swiper-button-next {
  right: 0;
  border-left: 1px solid #509cea;
  background: url("/root/main/images/main/icon_swiper_next.png") no-repeat 40px
    center;
}



#section02 {}
#section02 .inwrap {display: flex; flex-direction: column; gap: 24px;}
#section02 .inwrap .main_cont_sponsor_01, #section02 .inwrap .main_cont_sponsor_02, #section02 .inwrap .main_cont_sponsor_04 .main_content_line_box {
  height: 56px;
  display: flex; justify-content: flex-start; align-items: center;}
#section02 .inwrap .main_cont_sponsor_01 .sponsor_left_tit, #section02 .inwrap .main_cont_sponsor_02 .sponsor_left_tit, #section02 .inwrap .main_cont_sponsor_04 .sponsor_left_tit {width: 200px; height: 100%; background-color: #017CC9; color: #fff; display: flex; justify-content: center; align-items: center;}
#section02 .inwrap .main_cont_sponsor_02 .sponsor_left_tit {background-color: #36BACF;}
#section02 .inwrap .main_cont_sponsor_04 .sponsor_left_tit {background-color: #fff; position: relative;}
#section02 .inwrap .main_cont_sponsor_04 .sponsor_left_tit::after {content: ""; display: block; height: 36px; border-right: 1px solid #ddd; position: absolute; top: 50%; right: 0; transform: translate(0, -50%)}
#section02 .inwrap .main_cont_sponsor_01 .sponsor_left_tit h3, #section02 .inwrap .main_cont_sponsor_02 .sponsor_left_tit h3 {color: #fff;}
#section02 .inwrap .main_cont_sponsor_01 .sponser_right_cont, #section02 .inwrap .main_cont_sponsor_02 .sponser_right_cont, #section02 .inwrap .main_cont_sponsor_04 .sponser_right_cont {flex-grow:1; height: 100%; width:calc(100% - 200px); padding: 16px; }
/*#section02 .inwrap .main_cont_sponsor_01 .sponser_right_cont ul {display: flex; flex-wrap: wrap; flex-grow:1; justify-content: space-evenly; align-items: center;}
#section02 .inwrap .main_cont_sponsor_01 .sponser_right_slide_bt {margin: 0px 14px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 4px;}
 */

#sponsor_swiper_01, #sponsor_swiper_02 {
  position: relative;
  padding: 0 26px;
  width: 100%; height: 100%;
}
#sponsor_swiper_01 .swiper-button-prev, #sponsor_swiper_02 .swiper-button-prev,
#sponsor_swiper_01 .swiper-button-next, #sponsor_swiper_02 .swiper-button-next {
  width: 15px;
  height: 27px;
  margin-top: -13px;
  background: no-repeat center;
}
#sponsor_swiper_01 .swiper-button-prev, #sponsor_swiper_02 .swiper-button-prev {
  left: 0;
  background-image: url("/root/main/images/main/fban_prev.png");
}
#sponsor_swiper_01 .swiper-button-next, #sponsor_swiper_02 .swiper-button-next {
  right: 0;
  background-image: url("/root/main/images/main/fban_next.png");
}
#sponsor_swiper_01 .swiper-container, #sponsor_swiper_02 .swiper-container {height:100%;}
#sponsor_swiper_01 .img_wrap, #sponsor_swiper_02 .img_wrap {
  /* padding-bottom: 31.66%; */
  height: 100%;
  text-align: center;
}
#sponsor_swiper_01 .img_wrap img, #sponsor_swiper_02 .img_wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

#section02 .inwrap .main_cont_sponsor_03 { background-color: #017CC9; padding: 32px 20px; background: url('../images/main/main_sponsor_back.png') center center; background-size: 100% auto;}

#section02 .inwrap .main_cont_sponsor_03 .spon_top_tit {display: flex; justify-content: center; align-items: center; position: relative; padding-bottom: 24px;}
#section02 .inwrap .main_cont_sponsor_03 .spon_top_tit::after {content:""; display: block; position: absolute; border-bottom: 1px solid #D8D8D8; width: 100%; bottom: 0;}
#section02 .inwrap .main_cont_sponsor_03 .spon_top_tit h3 { color: #fff; font-size: 32px; font-family: 'Gmarket Sans Bold'; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);}

#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont {padding-top: 28px;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont form {display: flex; gap: 24px;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_type {flex-grow: 1;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount {flex-grow: 3; display: flex; gap: 24px; display: none;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount.spon_type_01 {display: flex;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount.show_f {display: flex;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount.show_n {display: none;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_bt {flex-grow: 1;}

/* #section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_type select:focus {outline: 2px solid #77abe7;} */

#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_type select, #section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt label, 
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt.spon_amount_txt input[type="text"], #section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_bt input[type="submit"]
{display: block; border-radius: 10px; background: #F9FAFC; border: 1px solid #d8d8d8; width: 100%; margin: 0 auto; text-align: center; height: -webkit-fill-available; line-height: 45px; font-size: 16px; cursor: pointer; font-family: 'Gmarket Sans Medium';}

#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt {width: 100%; height : 45px; position: relative;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt input[type=radio] {margin:0px; width:0px;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt input[type=radio]:checked + label {background: #005697; color: #fff; }
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt label:hover {background: rgba(0, 86, 151, 0.6) !important; color: #fff !important; }
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt input[type=radio] + label {background: #F9FAFC; color: #666; position: absolute; top: 0;}

#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt.spon_amount_txt input[type="text"]:focus {background: #005697; color: #fff;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt.spon_amount_txt input[type="text"]::placeholder {color: #ccc;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_amount .spon_amount_bt.spon_amount_txt input:not(:placeholder-shown) {background: #005697; color: #fff !important;}

#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_bt input[type="submit"] {background-color: #0A72C1; border:none; color: #fff;}
#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_bt input[type="submit"]:hover {background-color: #EE2E5B;}




#section02 .inwrap .main_cont_sponsor_03 .spon_bottom_cont .spon_bt {}



#section02 .inwrap .main_cont_sponsor_04 h3 {font-size: 18px;}
#section02 .inwrap .main_cont_sponsor_04 {font-size: 18px;}
#section02 .inwrap .main_cont_sponsor_04 .sponsor_left_tit {display: flex; gap:8px; }
#section02 .inwrap .main_cont_sponsor_04 .sponsor_left_tit img {width: 25px;}

#section02 .inwrap .main_cont_sponsor_04 .sponsor_caption {font-size: 14px; padding: 8px; color: #777777;}







#section04 {
  position: relative;
  padding: 60px 0 70px;
  text-align: center;
  background: url("/root/main/images/main/section04_bg.jpg") no-repeat center top;
  background-size: cover;
}
#section04 .mtitle {
  height: 68px;
  color: #fff;
}
#welfare_swiper {
  position: relative;
}
#welfare_swiper .swiper-slide {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
#welfare_swiper .swiper-slide .txt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16%;
  font-size: 20px;
  color: #012c61;
}
#welfare_swiper .swiper-button-prev,
#welfare_swiper .swiper-button-next {
  top: -66px;
  width: 71px;
  height: 36px;
  margin: 0;
  background: no-repeat;
}
#welfare_swiper .swiper-button-prev {
  left: 0;
  border-right: 1px solid #3d5779;
  background: url("/root/main/images/main/icon_swiper_prev.png") no-repeat 10px
    center;
}
#welfare_swiper .swiper-button-next {
  right: 0;
  border-left: 1px solid #3d5779;
  background: url("/root/main/images/main/icon_swiper_next.png") no-repeat 40px
    center;
}

#section05 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.qlink_list {
  overflow: hidden;
}
.qlink_list li {
  float: left;
  width: 25%;
}
.qlink_list a {
  display: block;
  position: relative;
  height: 160px;
  padding: 35px 40px 0;
  color: #fff;
  background: url("/root/main/images/main/qlink_corner.png") no-repeat right bottom;
}
.qlink_list a:after {
  position: absolute;
  top: 25px;
  right: 40px;
  width: 43px;
  height: 45px;
  background: no-repeat center top;
  background-size: 100% auto;
  content: "";
}
.qlink_list li.s01 a {
  background-color: #012c61;
}
.qlink_list li.s02 a {
  background-color: #768299;
}
.qlink_list li.s03 a {
  background-color: #0170e0;
}
.qlink_list li.s04 a {
  background-color: #25a9ed;
}
.qlink_list li.s01 a:after {
  background-image: url("/root/main/images/main/icon_qlink01.png");
}
.qlink_list li.s02 a:after {
  width: 41px;
  background-image: url("/root/main/images/main/icon_qlink02.png");
}
.qlink_list li.s03 a:after {
  width: 44px;
  background-image: url("/root/main/images/main/icon_qlink03.png");
}
.qlink_list li.s04 a:after {
  background-image: url("/root/main/images/main/icon_qlink04.png");
}
.qlink_list h2 {
  font-size: 25px;
  font-weight: 500;
}
.qlink_list p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

#section06 {
  padding: 38px 0;
  background: #f4f4f4;
}


.row {
  position: relative;
}
/* .icon_logo {display:inline-block; position:relative; top:-10px; width:35px; height:36px; margin-left:14px; background:url('/root/main/images/main/icon_logo.png') no-repeat;} */
.mtxt {
  display: none;
}
.mtitle {
  font-size: 28px;
  color: #333;
  font-family: 'Gmarket Sans Bold', "JJ WanGak", "돋움", Dotum, "굴림", Gulim, Helvetica,
    "Apple SD Gothic Neo", Tahoma, Geneva, sans-serif, verdana;
  line-height: 1.2;
  margin-bottom: -4px;
}
.mobile .mtitle {
  font-weight: bold;
}
.btn_more01 {
  display: inline-block;
  margin-top: 22px;
  padding-left: 30px;
  padding-right: 75px;
  border: 2px solid #67a9ec;
  font-size: 22px;
  color: #b2ddfb;
  line-height: 42px;
  background: url("/root/main/images/main/icon_arr01.png") no-repeat 145px center;
}
.v_tablet {
  display: none;
}

.img_wrap {
  overflow: hidden;
  position: relative;
}
.img_wrap img {
  width: 100%;
  min-height: 100%;
}



@media all and (max-width: 1456px) {
  .main_pop_zone #pop_zone {
    /* background-color: #fff; */
    /* position: absolute; */
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    margin-right: 0px;
    /* width: 450px; */
    /* height: 350px; */
    /* border-radius: 14px; */
    /* overflow: hidden; */
  }
}

@media all and (max-width: 1260px) {
  /* @media all and (max-width: 1456px) { */

}
@media all and (min-width: 768px) and (max-width: 1260px) {
  
}
@media all and (max-width: 1100px) {

  #main_visual .txt_t01 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 94%;
    max-width: 600px;
    padding: 0;
    transform: translate(-50%, -50%);
  }
  #main_visual .txt_t02 {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    padding: 0;
    transform: translateY(-50%);
  }
  #main_visual .txt_t02 .t02 {
    font-size: 55px;
  }
}

@media all and (max-width: 1000px) {
  #main_visual .main_visual_cont .swiper-slide {
    height: 600px;
  }
  #main_visual .main_title {
    /* position: absolute; */
    /* width: 100%; */
    /* max-width: 1440px; */
    /* height: auto; */
    /* padding: 16px; */
    padding-left: 16px;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 3; */
  }

  #main_visual .main_title h1 {font-size: 36px; font-weight: 600;}

  #main_visual .main_title .main_controlbox .swiper-pagination.swiper-pagination-num, .main_pop_zone #pop_zone .pop_zone_control .pop_zone-pagination-num {
    font-size: 12px;
  }



  .main_pop_zone #pop_zone {
    /* background-color: #fff; */
    /* position: absolute; */
    top: 400px;
    /* right: 16px; */
    /* transform: translate(0, -50%); */
    /* margin-right: 0px; */
    width: 330px;
    height: 256px;
    /* border-radius: 14px; */
    /* overflow: hidden; */
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox > ul {
    /* width: calc(100% / 4); */
    /* max-width: 300px; */
    padding: 10px;
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li {
    /* text-align: center; */
    padding: 8px;
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li h3 {
    font-size: 18px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-end; */
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li h3 span {
    /* height: 100%; */
    font-size: 12px;
    margin-left: 2px;
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox ul li h4 {
    font-size: 14px;
  }

  .mtitle { height: 30px; font-size: 25px;}
  .main_content_line_box .inwrap_title { height: 50px; padding: 0 14px;}
  .main_content_line_box .inwrap_cont { padding: 14px;}
  #section01 .inwrap .inwrap_cont { height: /*calc(100% - 65px)*/ 235px;}
  #section01 .activity_swiper_control .swiper-button-next, #section01 .activity_swiper_control .swiper-button-prev { width: 22px; height: 22px;}

  #section01 .inwrap { width:100%; display: flex; flex-direction: row; flex-wrap: wrap; gap: 20px;}

  #section01 .inwrap .main_content_activity { flex-grow: 2;  max-width: 100%; }
  #section01 .inwrap .main_content_tv .inwrap_cont ul.contain_tv { gap: 14px;}
  #section01 .inwrap .main_content_tv .inwrap_cont ul.contain_tv .contain_box_tv a .tit_contain_tv .tit_tv { font-size: 16px;}




  

}
@media all and (max-width: 767.88px) {


  #main_visual .img img {
    /* top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 0;
    min-width: 170%; 
    transform: translate(-21%, 0);
    -webkit-transform: translate(-21%, 0);
    -moz-transform: translate(-21%, 0);*/
    max-height: 100%;
  }
 
  #main_visual .swiper-container > .swiper-controls {
    margin-bottom: 6.5%;
  }
  #main_visual .txt_t01,
  #main_visual .txt_t02 {
    left: 50%;
    right: none;
    width: 94%;
    max-width: 300px;
    transform: translate(-50%, -50%);
  }
  #main_visual .txt_t01 .t01 {
    font-size: 15px;
  }
  #main_visual .txt_t01 .t02 {
    margin-top: 5px;
    font-size: 30px;
  }
  #main_visual .txt_t02 {
    padding: 0;
  }
  #main_visual .txt_t02 > div {
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  }
  #main_visual .txt_t02 .t01 {
    padding: 0;
    font-size: 15px;
    color: #fff;
  }
  #main_visual .txt_t02 .t01:before {
    display: none;
  }
  #main_visual .txt_t02 .t02 {
    font-size: 30px;
    color: #fff;
  }
  #main_visual .txt_t02 .t02 span {
    color: #fff !important;
  }
  #main_visual .slide02 {
    background-position: 30% center;
  }

  /* #main_visual .swiper-pagination {
    top: -2px;
    margin: 0 7px;
  }
  #main_visual .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid #fff;
  }
  #main_visual .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
  }
  #main_visual .swiper-button-prev,
  #main_visual .swiper-button-next,
  #main_visual .swiper-button-play,
  #main_visual .swiper-button-pause {
    width: 15px;
    height: 15px;
    background-size: 4.5px auto;
  }
  #main_visual .swiper-button-play {
    background-size: 4px auto;
  } */

  #section01 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #section01 .mbox {
    margin-top: 25px;
    padding-right: 0;
  }


  #activity_swiper .cont {
    height: 32px;
    padding: 8px 0px;
    text-align: left;
  }
  #activity_swiper .tit {
    font-size: 16px;
  }
  #activity_swiper .txt {
    max-height: 36px;
    margin-top: 6px;
    font-size: 15px;
    line-height: 18px;
  }
  
  #activity_swiper .swiper-button-prev,
  #activity_swiper .swiper-button-next {
    top: -33px;
    width: 22px;
    height: 18px;
    border: 0;
    background-position: center;
    background-size: auto 100%;
  }



  #section04 {
    padding: 30px 0 25px;
  }
  #section04 .mtitle {
    height: 36px;
  }
  #welfare_swiper .swiper-slide .txt {
    font-size: 15px;
  }
  #welfare_swiper .swiper-button-prev,
  #welfare_swiper .swiper-button-next {
    top: -33px;
    width: 22px;
    height: 18px;
    border: 0;
    background-position: center;
    background-size: auto 100%;
  }

  #section05 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .qlink_list li {
    width: 100%;
  }
  .qlink_list a {
    height: 80px;
    padding: 20px;
    background-size: 24px auto;
  }
  .qlink_list h2 {
    font-size: 17px;
    font-weight: 700;
  }
  .qlink_list p {
    margin-top: 5px;
    font-size: 12px;
  }
  .qlink_list p br {
    display: none;
  }
  .qlink_list a:after {
    top: 50%;
    right: 25px;
    margin-top: -22px;
    transform: scale(0.9);
    background-position: center;
  }

  #section06 {
    padding: 19px 0;
  }
  #sponsor_swiper_01, #sponsor_swiper_02 {
    padding: 0 7px;
  }
  #sponsor_swiper_01 .swiper-button-prev, #sponsor_swiper_02 .swiper-button-prev,
  #sponsor_swiper_01 .swiper-button-next, #sponsor_swiper_02 .swiper-button-next {
    width: 8px;
    height: 15px;
    margin-top: -8px;
    background-size: 100% auto;
  }
  #sponsor_swiper_01 .swiper-button-prev, #sponsor_swiper_02 .swiper-button-prev {
    left: -8px;
  }
  #sponsor_swiper_01 .swiper-button-next, #sponsor_swiper_02 .swiper-button-next {
    right: -8px;
  }

  .mtitle {
    height: 30px;
    font-size: 21px;
  }
  .icon_logo {
    width: 17px;
    height: 18px;
    top: -5px;
    margin-left: 8px;
    background-size: contain;
  }
  .btn_more01 {
    margin-top: 8px;
    padding-left: 12px;
    padding-right: 40px;
    border: 1px solid #67a9ec;
    font-size: 15px;
    line-height: 27px;
    background-size: 5px auto;
    background-position: 87px center;
  }
}


@media all and (max-width: 600px) {


  #main_visual .main_visual_cont .swiper-slide {
    height: 380px;
  }

  #main_visual .main_pop_zone {padding: 16px;}
  .main_pop_zone #pop_zone {
    background-color: #fff;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    margin: 0px auto;
    width: 100%;
    height: 320px;
    border-radius: 14px;
    overflow: hidden;
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox {
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex; */
    justify-content: space-evenly;
    /* align-items: center; */
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox > ul {
    width: calc(100% / 2);
    max-width: 200px;
    /* padding: 16px; */
  }

  #main_visual .main_collection .main_collec_inner .main_collec_innerbox > ul:nth-child(2), #main_visual .main_collection .main_collec_inner .main_collec_innerbox > ul:nth-child(4) {display: none;}
}

@media all and (max-width: 500px) {
  .main_pop_zone #pop_zone {height: 300px;}
  #section01 .inwrap .main_content_tv {width:100%; }
  #section01 .inwrap .inwrap_cont {height: /*calc(100% - 85px)*/ 200px;}
  #activity_swiper .img_wrap {height: 125px;}
}

@media all and (max-width: 450px) {
  .main_pop_zone #pop_zone {height: 240px;}

}
